@import url("../global.css");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--header-paddings);
}

.logo {
  color: var(--white-100);
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_name {
  font-size: var(--header-name-size);
}

.header_navigation > ul{
  display: flex;
  gap: 2.5rem;
}

.header_navigation > a {
  font-weight: 500;
}


/* toggle */
.theme_toggle {
  background-image: var(--btn-gradient);
  border-radius: var(--border-radius);
  width: 60px;
  height: 24px;

  cursor: pointer;
}

.theme_toggle > svg {
  width: 18px;
  height: 18px;
  fill: var(--white-100);
  transition: 0.3s;
}

/* light mode */
.toggle_dark_mode {
  display: none;
}

.toggle_light_mode {
  display: inline;
  transform: translate(90%, 3px);
}

.toggle {
  transform: translate(3px, 3px);
}

/* dark mode */
.dark_mode .toggle_dark_mode {
  display: inline;
  transform: translate(3px, 2px);
}

.dark_mode .toggle_light_mode {
  display: none;
}

.dark_mode .toggle {
  transform: translate(90%, 3px);
}

/* 
.theme_toggle:hover .toggle {
  transform: translate(3px, 3px);
}

.theme_toggle:hover .toggle_dark_mode {
  display: none;
}

.theme_toggle:hover .toggle_light_mode {
  display: inline;
  transform: translate(90%, 3px);
} */